@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 80px;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

a {
  color: #C41C94;
}

a:hover {
  color: #ffade8;
}

.video-container {
  height: 600px;
  width: 100%;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
z-index: 1;
position: relative;
}

.bg-pattern {
  background-color: #f7fcff;
  background: linear-gradient(135deg, #eff9ff55 25%, transparent 25%) -39px 0/ 78px 78px, linear-gradient(225deg, #eff9ff 25%, transparent 25%) -39px 0/ 78px 78px, linear-gradient(315deg, #eff9ff55 25%, transparent 25%) 0px 0/ 78px 78px, linear-gradient(45deg, #eff9ff 25%, #f7fcff 25%) 0px 0/ 78px 78px;
}

.bg-repeat-custom {
  background: url('/bg-repeat.jpg');
  background-repeat: repeat;
}


@keyframes fade-me-in {
  0% {opacity:0;}
  100% {opacity:1;}
}

.css-selector {
  background: linear-gradient(270deg, #c41c94, #ef64c7);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}